<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SmartShow Test Automation Suite" >
	<test verbose="2" name="AllScripts">
	<classes>
		<class name="suite.runner.CustomSuiteRunner" />
	</classes>
	
  </test> 
  
</suite> <!-- Default suite -->
